<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/styles.css" />
      <link rel="icon" href="/img/weather.png" />
  </head>
  <body>
      {{>header}}
    <div class="container">
     
      <div class="about">
        <img src="./img/tayo3.jpg" />
         <p style="font-weight: bolder;font-style:italic">This site was created by devPro Inc. It uses api data from 
        mapbox.com and weatherstack.com.
      </p>
      <h2> {{profile_name}}</h2>
        <div id="profile-box">
      
        <h2>My profile</h2>
        <p id="profile">
          {{profile}}
        </p>
        </div>   
      </div>
    
    </div>
      {{>footer}}
  </body>
</html>
